html, body {
    margin: 0;
    padding: 0;
}

#head {
    text-align: center;
}

.lead {
    text-align: center;
}

#searchAll {
    width: 50%;
    margin-bottom: 5px;
}

a {
    color: black;
}

.list-group {
    width: 50%;
    border: solid 1px #e3e3e3;
    -webkit-border-radius: 5px;
}

.list-group-item {
    border: none;
}

li:hover {
    cursor: pointer;
    background: #5663FF;
    color: white;
}
